<div class="row">
    <div class="col-md-9">
    	<h2 class="page-title">{{interFace.common.admin_title}}</h2>
    </div>
    <div class="col-md-2">
    	<button class="btn btn-link btn-xs btn-block logoff" ng-click="logoff()">Log off</button>
    </div>

    <div class="col-md-12">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a class="users" ng-click="switchTab('users')" data-target="#users" aria-controls="users" role="tab" data-toggle="tab">{{interFace.common.users}}</a>
			</li>
			<li role="presentation">
				<a class="dealers" ng-click="switchTab('dealers')" data-target="#dealers" aria-controls="dealers" role="tab" data-toggle="tab">{{interFace.common.dealers}}</a>
			</li>
			<li role="presentation">
				<a class="locations" ng-click="switchTab('locations')" data-target="#locations" aria-controls="locations" role="tab" data-toggle="tab">{{interFace.common.locations}}</a>
			</li>
			<li role="presentation">
				<a class="admins" ng-click="switchTab('admins')" data-target="#admins" aria-controls="admins" role="tab" data-toggle="tab">{{interFace.common.admins}}</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel">
				<list></list>
			</div>
		</div>
    </div>
</div>