<div class="row">
    <div class="col-md-5" ng-controller="loginController">
      <div id="home-carousel" ng-model="carousel" class="carousel slide login-box" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item panel panel-default active login user">
          <div class="panel-body">

            <h2>{{interFace.common.login.user_login}}</h2>
            <form>
              <div class="form-group">
                <label for="inputLogin">{{interFace.common.login.user_name}}</label>
                <input type="login" class="form-control" id="inputLogin" placeholder="{{interFace.common.login.user_name}}" required ng-model="inputData.user_name">
              </div>
              <div class="form-group">
                <label for="inputPassword">{{interFace.common.login.stars_id}}</label>
                <input type="login" class="form-control" id="inputPassword" placeholder="{{interFace.common.login.stars_id}}" required ng-model="inputData.stars_id">
              </div>
              <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
              <p><button type="submit" class="btn btn-primary btn-block" ng-click="submitForm('user')">{{interFace.common.login.submit}}</button></p>
              <p><button class="btn btn-link btn-block" data-target="#home-carousel" role="button" data-slide="next">{{interFace.common.login.admin_login}}</button></p>
            </form>

          </div>
        </div>

        <div class="item panel panel-default admin login">
          <div class="panel-body">

            <h2>{{interFace.common.login.admin_login}}</h2>
            <form>
              <div class="form-group">
                <label for="inputLogin">{{interFace.common.login.user_name}}</label>
                <input type="login" class="form-control" id="inputLogin" placeholder="{{interFace.common.login.user_name}}" required ng-model="inputData.admin_name">
              </div>
              <div class="form-group">
                <label for="inputPassword">{{interFace.common.login.password}}</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="{{interFace.common.login.password}}" required ng-model="inputData.admin_password">
              </div>
              <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
              <p><button type="submit" class="btn btn-primary btn-block" ng-click="submitForm('admin')">{{interFace.common.login.submit}}</button></p>
              <p><button class="btn btn-link btn-block" data-target="#home-carousel" role="button" data-slide="prev">{{interFace.common.login.user_login}}</button></p>
            </form>

          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <score-board></score-board>
    </div>
</div>